[submodule "lib/mcp_can"]
	path = lib/mcp_can
	url = https://github.com/akafael/MCP_CAN_lib
[submodule "trampoline"]
	path = lib/trampoline
	url = https://github.com/akafael/trampoline.git
	branch = ufpe-rtos
